.title1{
    margin-top: 15px;
    &-title{
        font-size: 22px;
        color: rgb(227, 225, 225);
    
    }
    
    &-subtitle{
        font-size: 20px;
        color: rgb(227, 225, 225);
    }
}