.cardA-content {
  .cardA-image {
    position: relative;
    margin-bottom: 20px;

    .thumbnail {
      max-width: 170px;
      max-height: 260px;
      box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
    }

    .mu-icon-dark-bg {
      position: absolute;
      bottom: 4px;
      right: 0;
      z-index: 3;
      width: 31px;
      height: 35px;
    }
  }
  .cardA-text {
    .creators {
      margin-top: 8px;
      font-size: var(--metaCreators-font-size);
      letter-spacing: 0.5px;
      //font-weight: var(--font-light);
    }
  }
}

.cardA-content:hover {
  cursor: pointer;
  .cardA-image {
    transition: all 0.17s ease-in-out;
    transform: translate3d(0, -10px, 0);
  }

  .cardA-text {
    h5 {
      color: var(--red-hover);
    }
  }
}
