.header {
  width: 100%;
  position: relative;
  color: #fff;

  &__upper {
    height: 52px;
    background-color: var(--background-header);
    border-bottom: 1px solid #393939;
    padding: 0px 20px;

    .upperContainer {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-between;

      .user-menu-tab {
        height: 51px;
        display: inline-flex;
        align-items: center;
        padding: 0 25px;
        cursor: pointer;
        border-left: 1px solid #393939;
        border-right: 1px solid #393939;

        .user-menu__avatar {
          width: 20px;
          height: 20px;
          cursor: pointer;
          margin: 0 10px 0 0;
          border-radius: 50%;
          overflow: hidden;

          svg {
            fill: #fff;
          }
        }

        .user-menu-links {
          color: #fff;

          a {
            color: inherit;
            text-transform: uppercase;
            font-size: var(--metaCreators-font-size);
            font-weight: var(--font-bold);
            letter-spacing: 1px;
          }
          span {
            margin: 5px;
          }
        }
      }

      .logo {
        display: flex;
        justify-content: center;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        height: 52px;
        width: 130px;
      }

      .right-links {
        display: flex;
        height: 51px;

        .searchPromo-Container {
          display: flex;
          line-height: 0.9;
          align-items: center;
          border-right: none;
          color: #fff;
          padding-left: 15px;
          padding-right: 15px;
          border-left: 1px solid #393939;

          .searchPromo__img {
            height: 25px;
            margin-right: 10px;

            img {
              height: 100%;
            }
          }

          .searchPromo__wrap {
            text-transform: uppercase;
            font-size: var(--metaCreators-font-size);
            font-weight: var(--font-bold);
            letter-spacing: 1px;
            span {
              margin-top: 3px;
              display: block;
              text-align: center;
            }
          }
        }

        .search {
          display: flex;
          align-items: center;
          padding-left: 15px;
          padding-right: 15px;
          border-left: 1px solid #393939;
          border-right: 1px solid #393939;

          .search_icon {
            fill: var(--gray);
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

  &__lower {
    height: 40px;
    background-color: var(--background-header);
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    transition: all 0.3s ease;

    ul {
      display: flex;
      align-items: center;
      margin: 0 auto;

      .close-icon {
        display: none;
      }
      li {
        font-size: var(--link-font-size);
        font-weight: var(--font-bold);
        padding: 0 18px;
        margin: 0 auto;
        cursor: pointer;

        a {
          color: inherit;
        }
      }
    }
  }
}

@media screen and (max-width: 838px) {
  .header__upper .upperContainer {
    .user-menu-tab,
    .right-links .searchPromo-Container {
      display: none;
    }

    .right-links {
      .search {
        border: unset;

        .search_icon {
          fill: #fff;
        }
      }
    }
  }

  .menu-icon {
    height: 51px;
    margin-right: auto;
    cursor: pointer;

    .menu-icon-svg {
      fill: #fff;
      width: 24px;
      height: 16px;
      margin-top: 1rem;
    }
  }

  .header__lower {
    position: fixed;
    z-index: 999;
    left: -275px;
    width: 275px;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    padding-top: 3rem;
    margin-top: -3.25rem;

    ul {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 2rem;
      margin: initial;

      .close-icon {
        display: block;

        .close-icon-svg {
          fill: #fff;
          width: 20px;
          height: 16px;
        }
      }

      li {
        margin: initial;
        font-size: var(--title-font-size);
      }
    }
  }

  .header__lower.active {
    left: 0;
  }
}
