.promo {
    position: relative;
    background-color: #000;
    color: white;
    .promo_content {
        display: flex;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        flex-wrap: wrap;
        .promo_img {
            flex-basis: 50%;
            margin: 0;
            padding: 0;
            img {
                max-height: 100%;
                height: 400px;
                object-fit: cover;
                display: block;
            }
        }
        .promo_text {
            padding: 50px;
            flex-basis: 50%;

            .promo_text_content {
                text-align: center;
                position: relative;
                padding: 0 0 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .promo_subtitle {
                    text-transform: uppercase;
                    color: var(--red);
                    letter-spacing: 3px;
                    margin: 20px 0;
                    font-size: 16px;
                    font-weight: 400;
                }
                .promo_title {
                    font-weight: 400;
                    font-size: 26px;
                    margin: 0 0 10px;
                    color: white;
                }
                .promo_description {
                    margin: 0 auto;
                    margin-bottom: 20px;
                    max-width: 500px;
                    font-size: 16px;
                    font-weight: 400;
                    color: white;
                }
                .promo_legal {
                    position: absolute;
                    bottom: -30px;
                    width: 100%;
                    text-align: center;
                    left: 0;
                    line-height: 1;
                    font-size: 10px;
                    font-weight: normal;
                    color: white;
                }
            }
        }
    }
    &.thin {
        background-color: #151515;
        .promo_content {
            justify-content: center;
            align-items: center;
            .promo_img {
                flex-basis: auto;
                img {
                    height: 33px;
                }
            }
            .promo_text {
                flex-basis: auto;
                padding: 10px;
                .promo_title {
                    font-size: 14px;
                }
                .promo_description {
                    display: none;
                    font-size: 14px;
                }
            }
        }
    }
    @include respond-to("lg") {
        .promo_content {
            width: 95%;
        }
    }
    @include respond-to("md") {
        .promo_content {
            width: 100%;
            .promo_img {
                flex-basis: 100%;
                img{
                    width: 100%;
                }
            }
            .promo_text {
                flex-basis: 100%;
            }
        }
        &.thin {
            .promo_content {
                .promo_text {
                    .promo_title {
                        display: none;
                    }
                    .promo_description {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
