/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

/* VARIABLES CSS */
:root {
  /* COLORS */
  --background-header: #202020;
  --bacground-footer: #151515;
  --red: #e62429;
  --red-hover: #9f0013;
  --gray: #767676;
  --slash-title: #c6a972;

  /* FONT & TYPOGRAPHY */
  --body-font: "Roboto Condensed", sans-serif;

  --biggest-font-size: 1.625rem;
  --title-font-size: 0.875rem;
  --link-font-size: 0.8125rem;
  --metaCreators-font-size: 0.6875rem;

  /* FONT WEIGHT */
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;
}
